* {
  box-sizing: border-box; 

    
}

.head {
    background-color: #1f2937;
    width: auto;
    height: 650px;
    color: #efefef;
   
}

header {
    display: flex;
    padding: 8px 170px;
    align-items: center;
    justify-content: space-between;
}


ul {
    list-style-type: none;
    display:flex;
    
    gap: 32px;
}

a {
    color: #efefef;
    text-decoration: none;
}

body {
    margin: 0;
    
}

.bottom-head {
    display: flex;
    padding: 8px 170px;
    align-items: center;

    
    margin-top: 60px;
    gap: 90px;
/*       border: 5px black solid; */
 }



.left-section {
    flex: 1;
  /*   border: 5px black solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;

   
}
.titere {
    margin-top: 0;
    margin-bottom: 0;
}



/* .img {
    flex: 2;
    color: rgb(138, 43, 226, 0.8);
    width: auto;
    height: 350px;
    background-color: #e5e7eb;
    border-radius: 16px;
} */

.titere {
    font-size: 48px;
    font-weight: 700;
}

button {
    background-color: #3882f6;
    border: 0px;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 8px 16px;
    width: 120px;
}

.content1 h2 {
    display: flex;
    justify-content: center;
    margin-top: 230px ;
    color: black
}

.content11 {
    display: flex;
    padding: 8px 170px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: black
}
#album {
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    height: 300px;
    flex: 1 1 auto;

}


.img {
    flex: 1 1 auto;
}


.text p {
    text-align: center;
    flex: 1 1 auto;
}

.content2 {
    display: flex;
    flex-direction: column;
    padding: 8px 170px;
    background-color: #1156e29c;
    margin: 80px 0px;
}

.quote {
    font-size: 36px;
    font-family: light-italic;
}

.author {
    font-size: 36px;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}

.content3 {
    display: flex;
    flex-direction: column;
    padding: 80px 170px;
    
    margin: 80px 0px;
}

.blue-box {
    display: flex;
    padding: 8px 170px;
    background-color: #3882f6;
    border: 8px 170px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 150px;
    color: #efefef;
  

}

.blue-box .button2 {
    
    border: 2px #efefef solid;
}

.call {
    font-size: 32px;
}

.footer {
    text-align: center;
    color: #efefef;
    background-color: #1f2937;
    padding: 8px 170px;
}

.right-section {
    width: 500px;
    height: 250px;
    background-color: rgba(153, 153, 165, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
/*     border: 5px black solid; */
}

.blue-box button:hover {
    background-color: #e5e7eb;
    border: 0px;
    border-radius: 8px;
    color: #3882f6;
    padding: 8px 16px;
    width: 120px;
}


.left-section button:hover {
    background-color: #dde1e7;
    border: 0px;
    border-radius: 8px;
    color: #1f2937;
    padding: 8px 16px;
    width: 120px;
}